.caddy-file-editor {
    height: 400px;
    border-radius: 4px;
    overflow: hidden;
}

.caddy-file-editor.global-caddy {
    height: 600px;
}

.caddy-file-editor .monaco-editor {
    overflow: hidden;
    border-radius: inherit;
}

/*This is for having the active drawer item's icon color same as the text*/
.mud-nav-link.active svg {
    color: var(--mud-palette-primary)!important;
}